* {
    box-sizing: border-box;
}
body {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainContainer {

border: 1px solid #2d2d2d;
border-radius: 1rem;
display: flex;
justify-content: center;
overflow: hidden;

}
.imgContainer img {
    height: auto;
    width: 35rem;
    margin-left: -4rem;
    margin-top: 2rem;
}
.imgContainer {
    background-image: url(/images/bg-pattern-desktop.svg);
    background-position: center;
    background-size: 45rem;
    background-position-y: -15rem;
    background-position-x: right;
    background-repeat: no-repeat;
}
h2 {
    font-size: 1rem;
}
.imgContainer, .faq {
    width: 30rem;
}
.faq {
    padding: 2rem 6rem 2rem 2rem;
}

details {
    border-bottom: 1px lightgrey solid;
    padding-top: 1rem;
}
 p {
    margin-top: 0;
 }
details[open] {
    transition: 1s ease;
}
summary {
    list-style: none;
    display: flex;
  }
summary::after {
    content: url("/images/icon-arrow-down.svg");
    margin: 0 0 1rem auto;
    padding-right: 1rem;

  }
details[open] summary::after{
    content: url("/images/icon-arrow-down.svg");
    transform: rotate(180deg);
    margin: 0 0 1rem auto;
    padding-left: 1rem;
  }
  details summary {
    transition: margin 150ms ease-out;
  }